
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.overview-4kR {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 2.9rem;

  .auto-group-y5sp-1JH {
    margin-right: 1.3rem;
    width: 90.4rem;
    height: 102.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-282-HoX {
      height: 102.4rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #f7f7f7;
      width: 32.9rem;
    }
    .group-170-1-9qj {
      width: 15.3rem;
      height: 4.6rem;
      position: absolute;
      left: 4.9rem;
      top: 5.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-225-pws {
      width: 56.1rem;
      height: 18.6rem;
      position: absolute;
      left: 34.2rem;
      top: 12.9rem;
      background-color: #f0f0f0;
    }
    .welcome-to-your-dashboard-Jc9 {
      height: 1.7rem;
      top: 22.2rem;
      color: #000000;
      width: 18.6rem;
      left: 40.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
    }
    .ellipse-105-fLD {
      position: absolute;
      left: 34.2001rem;
      top: 6.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 12.8rem;
      height: 12.9198rem;
    }
    .ellipse-106-KvZ {
      vertical-align: top;
      width: 10.0757rem;
      height: 10.7758rem;
      position: absolute;
      left: 29.2rem;
      top: 12.8599rem;
      object-fit: contain;
    }
    .woman-talking-with-chatbot-bNH {
      vertical-align: top;
      width: 25.6rem;
      height: 18.7rem;
      position: absolute;
      left: 63.7rem;
      top: 13.5rem;
      object-fit: contain;
    }
    .hello-david-3zy {
      left: 40.6rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 9.1rem;
      height: 2rem;
      position: absolute;
      top: 20.1rem;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
    }
    .know-more-go3 {
      width: 9.6rem;
      height: 2rem;
      position: absolute;
      font-size: 1.6rem;
      font-weight: 600;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 34.2rem;
      top: 33.8rem;
      line-height: 1.2125;
    }
    .rectangle-288-Z69 {
      top: 61.1rem;
      background-color: #d9d9d9;
      width: 56.7rem;
      height: 38.8rem;
      position: absolute;
      left: 33.7rem;
    }
    .whatsapp-image-2023-10-13-at-229-1-4Ho {
      width: 56.6rem;
      height: 38.8rem;
      position: absolute;
      left: 33.7rem;
      top: 61.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .frame-251-uZK {
      cursor: pointer;
      left: 33.7rem;
      padding: 0.7rem 1.6rem 0.6rem 0.9rem;
      height: 7.7rem;
      position: absolute;
      top: 38.4rem;
      display: flex;
      align-items: center;
      border: solid 0.2rem rgba(91, 197, 166, 0.6200000048);
      background-color: rgba(217, 217, 217, 0.0500000007);
      box-sizing: border-box;
      width: 26.6rem;
      border-radius: 4rem;

      .auto-group-vnk1-7fP {
        border-radius: 3.1rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        box-sizing: border-box;
        padding: 2.2rem 1.7rem 2.3rem 1.7rem;
        height: 100%;
        background-color: rgba(91, 197, 166, 0.1599999964);

        .vector-aos {
          width: 2.8rem;
          height: 1.9rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .employee-details-FQD {
        color: rgba(0, 0, 0, 0.5799999833);
        flex-shrink: 0;
        cursor: pointer;
        font-size: 2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-top: 0.3rem;
        font-weight: 500;
      }
    }
    .frame-253-7BX {
      height: 7.7rem;
      cursor: pointer;
      left: 62.3rem;
      display: flex;
      border: solid 0.2rem rgba(91, 197, 166, 0.6200000048);
      border-radius: 4rem;
      padding: 0.7rem 4.3rem 0.6rem 1.1rem;
      width: 26.6rem;
      position: absolute;
      top: 38.6rem;
      align-items: center;
      background-color: rgba(217, 217, 217, 0.0500000007);
      box-sizing: border-box;

      .auto-group-jgqp-Puj {
        flex-shrink: 0;
        margin-right: 4.4rem;
        box-sizing: border-box;
        padding: 1.8rem 1.2rem 1.9rem 1.2rem;
        height: 100%;
        background-color: #e5f6f1;
        border-radius: 3.1rem;

        .vector-vPs {
          width: 3.8rem;
          height: 2.7rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .trip-details-3Db {
        color: rgba(0, 0, 0, 0.5799999833);
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.2125;
        margin-top: 0.3rem;
      }
    }
    .frame-254-7z9 {
      top: 48.5rem;
      border-radius: 4rem;
      height: 7.7rem;
      left: 62.3rem;
      width: 26.6rem;
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      border: solid 0.2rem rgba(91, 197, 166, 0.6200000048);
      box-sizing: border-box;
      padding: 0.7rem 3.9rem 0.6rem 1.1rem;
      background-color: rgba(217, 217, 217, 0.0500000007);

      .auto-group-7zwv-DXP {
        height: 100%;
        background-color: #e5f6f1;
        border-radius: 3.1rem;
        flex-shrink: 0;
        margin-right: 4rem;
        box-sizing: border-box;
        padding: 1.3rem 1.4rem 1.4rem 1.4rem;

        .feuser0-jVj {
          width: 3.4rem;
          height: 3.7rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .user-details-FDB {
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        cursor: pointer;
        font-size: 2rem;
        line-height: 1.2125;
        color: rgba(0, 0, 0, 0.5799999833);
      }
    }
    .frame-256-XwP {
      top: 48.3rem;
      align-items: center;
      border: solid 0.2rem rgba(91, 197, 166, 0.6200000048);
      border-radius: 4rem;
      box-sizing: border-box;
      height: 7.7rem;
      position: absolute;
      left: 33.7rem;
      background-color: rgba(217, 217, 217, 0.0500000007);
      padding: 0.7rem 2.6rem 0.6rem 0.9rem;
      width: 26.6rem;
      cursor: pointer;
      display: flex;

      .auto-group-f6pr-Cnd {
        border-radius: 3.1rem;
        flex-shrink: 0;
        margin-right: 2.4rem;
        box-sizing: border-box;
        padding: 1.9rem 1.8rem;
        height: 100%;
        background-color: #e5f6f1;

        .vector-wVK {
          width: 2.6rem;
          height: 2.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .product-details-sNy {
        font-size: 2rem;
        font-weight: 500;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.1rem;
        cursor: pointer;
        white-space: nowrap;
        line-height: 1.2125;
        color: rgba(0, 0, 0, 0.5799999833);
      }
    }
    .frame-265-xvD {
      cursor: pointer;
      position: absolute;
      left: 1.6rem;
      top: 20.1rem;
      width: 24.4rem;
      height: 4.7rem;

      .rectangle-313-5E9 {
        top: 0;
        border: solid 0.1rem #4ba68f;
        width: 24.3rem;
        position: absolute;
        left: 0;
        border-radius: 4rem;
        height: 4.7rem;
        box-sizing: border-box;
        background-color: rgba(217, 217, 217, 0.0399999991);
      }
      .group-253-awb {
        left: 2.2091rem;
        top: 1rem;
        display: flex;
        align-items: center;
        width: 19.3681rem;
        height: 2.8rem;
        position: absolute;

        .vector-vEm {
          flex-shrink: 0;
          margin-right: 0.5634rem;
          width: 3.0047rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .admin-dashboard-TVb {
          margin-top: 0.275rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #4ba68f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .group-266-BgV {
      width: 14.7rem;
      height: 3.6rem;
      position: absolute;
      left: 1.6rem;
      top: 69.3rem;

      .group-261-85w {
        height: 2.8rem;
        position: absolute;
        left: 2rem;
        top: 0.4rem;
        display: flex;
        align-items: center;
        width: 10.8rem;

        .group-260-rnd {
          margin-right: 0.7rem;
          width: 2.8rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .sign-out-zP3 {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #4ba68f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .rectangle-315-Kw7 {
        border: solid 0.1rem #4ba68f;
        box-sizing: border-box;
        border-radius: 4rem;
        width: 14.7rem;
        height: 3.6rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .frame-265-481 {
      cursor: pointer;
      position: absolute;
      border: solid 0.1rem #4ba68f;
      box-sizing: border-box;
      padding: 1rem 2.879rem 0.9rem 2.8rem;
      width: 30.5rem;
      height: 4.7rem;
      left: 1.6rem;
      top: 32.9rem;
      border-radius: 4rem;

      .group-256-xjB {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;

        .vector-vAD {
          flex-shrink: 0;
          margin-right: 0.302rem;
          width: 2.8185rem;
          height: 2.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .emergency-appointment-4GR {
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #359a80;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
        }
      }
    }
  }
  .auto-group-g8fk-YSV {
    margin-top: 5.5rem;
    width: 49.4rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-229-UL9 {
      margin: 0rem 5.9rem 2.9rem 0rem;
      height: 4.3rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-219-Pi1 {
        margin: 0.2rem 4.7rem 0.3rem 0rem;
        width: 3rem;
        height: calc(100% - 0.5rem);
        position: relative;
        flex-shrink: 0;

        .group-174-7P7 {
          height: 3.6004rem;
          position: absolute;
          left: 0;
          top: 0.1996rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .ellipse-111-eP3 {
          top: 0;
          background-color: #3a6df0;
          border-radius: 0.65rem;
          width: 1.3rem;
          height: 1.3rem;
          position: absolute;
          left: 1.5rem;
        }
        .item-2-BNy {
          width: 0.6rem;
          position: absolute;
          color: #ffffff;
          font-family: Jua, 'Source Sans Pro';
          line-height: 1.25;
          white-space: nowrap;
          height: 1.3rem;
          left: 1.9rem;
          top: 0;
          font-size: 1rem;
          font-weight: 400;
        }
      }
      .group-194-5z9 {
        margin-right: 0.6rem;
        width: 4.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ellipse-96-DKf {
          object-fit: contain;
          vertical-align: top;
          width: 4.5rem;
          height: 4.3rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
        }
        .workaholism-and-working-overtime-kqP {
          top: 0.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.7rem;
          height: 3.4rem;
          position: absolute;
          left: 0;
        }
      }
      .auto-group-fith-Fn9 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.1rem 0rem 0.8rem 0rem;
        height: calc(100% - 1.9rem);
        align-items: center;
        display: flex;

        .david-spade-Nrm {
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Judson, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
        }
        .warehouse-admin-Wi5 {
          flex-shrink: 0;
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.15;
          color: rgba(0, 0, 0, 0.349999994);
          font-family: Judson, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-3g6d-qVT {
      width: 100%;
      height: 98.4rem;
      position: relative;
      flex-shrink: 0;

      .line-156-PG5 {
        position: absolute;
        left: 2.1rem;
        top: 40.4rem;
        background-color: rgba(255, 255, 255, 0.2800000012);
        width: 45rem;
        height: 0.1rem;
      }
      .frame-196-7C5 {
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 49.4rem;
        height: 98.4rem;

        .group-249-T13 {
          width: 100%;
          display: flex;
          flex-direction: column;
          background: linear-gradient(180deg, #45a88b -0%, #1d362f 100%);
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          box-sizing: border-box;
          padding: 3.2rem 2.3rem 1rem 2.1rem;

          .tracking-list-xCh {
            flex-shrink: 0;
            margin: 0rem 0rem 1.4rem 0.5rem;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-y65f-xkR {
            margin: 0rem 2.4rem 2.3rem 0.5rem;
            box-sizing: border-box;
            padding: 1.3rem 20.8rem 1.258rem 2.4rem;
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;
            width: calc(100% - 2.9rem);
            display: flex;
            border-radius: 3rem;

            .vector-rL1 {
              margin-right: 1.7583rem;
              width: 2.5417rem;
              height: 2.5417rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .type-your-order-id-zh7 {
              margin-bottom: 0.0417rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.1625;
              color: rgba(0, 0, 0, 0.4099999964);
              font-family: Judson, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-dr7w-sW1 {
            flex-shrink: 0;
            margin: 0rem 0rem 1.8rem 0.5rem;
            width: calc(100% - 0.5rem);
            display: flex;
            align-items: flex-end;

            .auto-group-e9zj-bS1 {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 16.7rem;
              display: flex;

              .order-id-jHK {
                font-family: Judson, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.1625;
                color: #ffffff;
              }
              .item-000012-G2M {
                color: #ffffff;
                font-family: Judson, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.1625;
              }
            }
            .group-244-zU9 {
              height: 5.6rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 0.3rem;

              .ellipse-124-LY1 {
                width: 5.6rem;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('REPLACE_IMAGE:06906302867d63f26a373c441a8111ba86439e45');
                border-radius: 2.8rem;
                flex-shrink: 0;
                margin-right: 0.4rem;
                height: 5.6rem;
                background-color: #d9d9d9;
                background-size: 100% 100%;
              }
              .auto-group-wer5-3SR {
                margin: 0.8rem 0;
                height: calc(100% - 1.6rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .employee-id-000011-kk9 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.1625;
                  color: rgba(255, 255, 255, 0.6600000262);
                  font-family: Judson, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.2rem;
                }
                .rathod-TeZ {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.1625;
                  color: rgba(255, 255, 255, 0.8299999833);
                  font-family: Judson, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .line-155-BqT {
            margin-bottom: 1.2rem;
            width: 100%;
            height: 0.1rem;
            background-color: rgba(255, 255, 255, 0.2800000012);
            flex-shrink: 0;
          }
          .auto-group-em5k-vo3 {
            margin-left: 0.1rem;
            width: calc(100% - 0.1rem);
            height: 15.7rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-243-Tny {
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 18.4rem;
              width: 14.2rem;

              .auto-group-eddk-KaH {
                width: 100%;
                display: flex;
                align-items: flex-end;
                flex-shrink: 0;

                .group-239-Ui5 {
                  flex-shrink: 0;
                  margin-right: 0.8rem;
                  width: 4.6rem;
                  height: 4.6rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .auto-group-vyx5-1i1 {
                  margin-bottom: 0.5rem;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .distance-remaining-mSH {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 1.1625;
                    color: #ffffff;
                    font-family: Judson, 'Source Sans Pro';
                  }
                  .km-JSD {
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 1.1625;
                    color: #ffffff;
                    font-family: Judson, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
              }
              .auto-group-uzfp-SHX {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 0.5rem;

                .line-154-Bku {
                  flex-shrink: 0;
                  margin: 0rem 0rem 0.5rem 2.3rem;
                  width: 0.2rem;
                  height: 5.7rem;
                  background-color: #ffffff;
                }
                .auto-group-xht5-7eZ {
                  margin-right: 2.1rem;
                  width: calc(100% - 2.1rem);
                  height: 4.4rem;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .group-242-ePb {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 0.8rem;
                    width: 4.6rem;
                    height: 4.4rem;
                    position: relative;
                    object-fit: contain;
                  }
                  .auto-group-ff4d-aHF {
                    margin: 1.4rem 0rem 0.6rem 0rem;
                    height: calc(100% - 2rem);
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .estimated-time-Jj3 {
                      font-weight: 700;
                      line-height: 1.1625;
                      color: #ffffff;
                      font-family: Judson, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1rem;
                    }
                    .hrs-rEm {
                      flex-shrink: 0;
                      font-size: 1rem;
                      font-weight: 700;
                      line-height: 1.1625;
                      color: #ffffff;
                      font-family: Judson, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
            .group-245-bCM {
              font-size: 1.6rem;
              font-weight: 700;
              display: flex;
              background-color: #ebefea;
              flex-shrink: 0;
              margin-top: 1.7rem;
              height: 2.7rem;
              color: #24cc49;
              white-space: nowrap;
              justify-content: center;
              border-radius: 1rem;
              width: 12.3rem;
              line-height: 1.1625;
              font-family: Judson, 'Source Sans Pro';
              align-items: center;
            }
          }
        }
        .group-247-oJR {
          background: linear-gradient(180deg, #1f3d35 -0%, rgba(36, 77, 65, 0.9900000095) 100%);
          margin-bottom: 0.8rem;
          width: 100%;
          align-items: center;
          display: flex;
          box-sizing: border-box;
          padding: 1.3rem 2.3rem 0.9rem 2.1rem;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-mpaz-KGm {
            margin: 0rem 0.4rem 3.1rem 0.1rem;
            width: calc(100% - 0.5rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .auto-group-wwc5-ScH {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 16.7rem;

              .order-id-oBw {
                line-height: 1.1625;
                color: #ffffff;
                font-family: Judson, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                font-size: 2rem;
                font-weight: 700;
              }
              .item-000014-j5b {
                color: #ffffff;
                font-family: Judson, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.1625;
              }
            }
            .group-244-rvu {
              margin-bottom: 0.3rem;
              height: 5.6rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ellipse-124-cQH {
                background-image: url('REPLACE_IMAGE:06906302867d63f26a373c441a8111ba86439e45');
                border-radius: 2.8rem;
                flex-shrink: 0;
                width: 5.6rem;
                height: 5.6rem;
                background-size: 100% 100%;
                background-position: center;
                margin-right: 0.4rem;
                background-color: #d9d9d9;
                background-repeat: no-repeat;
              }
              .auto-group-aqof-87j {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0.8rem 0;
                height: calc(100% - 1.6rem);

                .employee-id-000011-s5K {
                  font-weight: 700;
                  line-height: 1.1625;
                  color: rgba(255, 255, 255, 0.6600000262);
                  font-family: Judson, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.2rem;
                  font-size: 1.6rem;
                }
                .rathod-P3f {
                  color: rgba(255, 255, 255, 0.8299999833);
                  font-family: Judson, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.1625;
                }
              }
            }
          }
          .line-155-6yf {
            margin-bottom: 1.2rem;
            width: 100%;
            height: 0.1rem;
            background-color: rgba(255, 255, 255, 0.2800000012);
            flex-shrink: 0;
          }
          .auto-group-db6r-3e1 {
            width: calc(100% - 0.1rem);
            height: 15.7rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin-left: 0.1rem;

            .group-243-nLh {
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 18.4rem;
              width: 14.2rem;

              .auto-group-9rtt-XZB {
                width: 100%;
                display: flex;
                align-items: flex-end;
                flex-shrink: 0;

                .group-239-UUR {
                  height: 4.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.8rem;
                  width: 4.6rem;
                }
                .auto-group-m1lm-R8m {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;

                  .distance-remaining-8Yy {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 1.1625;
                    color: #ffffff;
                    font-family: Judson, 'Source Sans Pro';
                  }
                  .km-4xR {
                    font-weight: 700;
                    line-height: 1.1625;
                    color: #ffffff;
                    font-family: Judson, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                  }
                }
              }
              .auto-group-tqdp-cDF {
                box-sizing: border-box;
                padding-top: 0.5rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .line-154-Z8V {
                  background-color: #ffffff;
                  flex-shrink: 0;
                  margin: 0rem 0rem 0.5rem 2.3rem;
                  width: 0.2rem;
                  height: 5.7rem;
                }
                .auto-group-1lnd-sus {
                  margin-right: 2.1rem;
                  width: calc(100% - 2.1rem);
                  height: 4.4rem;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .group-242-QQ1 {
                    flex-shrink: 0;
                    margin-right: 0.8rem;
                    width: 4.6rem;
                    height: 4.4rem;
                    position: relative;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .auto-group-atq9-wuj {
                    margin: 1.4rem 0rem 0.6rem 0rem;
                    height: calc(100% - 2rem);
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .estimated-time-faq {
                      font-weight: 700;
                      line-height: 1.1625;
                      color: #ffffff;
                      font-family: Judson, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1rem;
                    }
                    .hrs-Cqf {
                      flex-shrink: 0;
                      font-size: 1rem;
                      font-weight: 700;
                      line-height: 1.1625;
                      color: #ffffff;
                      font-family: Judson, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
            .group-245-YPj {
              margin-top: 1.7rem;
              height: 2.7rem;
              font-family: Judson, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.6rem;
              font-weight: 700;
              color: #3a6df0;
              align-items: center;
              line-height: 1.1625;
              display: flex;
              justify-content: center;
              background-color: #f7f8f9;
              flex-shrink: 0;
              width: 12.3rem;
              border-radius: 1rem;
            }
          }
        }
        .group-248-xyF {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          height: 28.2rem;
          flex-direction: column;
          background: linear-gradient(180deg, #1f3d35 -0%, rgba(36, 77, 65, 0.9900000095) 100%);
          padding: 1.3rem 2.3rem 0.9rem 2.1rem;

          .auto-group-rjvo-tM7 {
            align-items: flex-end;
            flex-shrink: 0;
            margin: 0rem 0.4rem 3.1rem 0.1rem;
            width: calc(100% - 0.5rem);
            display: flex;

            .auto-group-affw-RM3 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 16.7rem;

              .order-id-mfo {
                margin-bottom: 0.2rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.1625;
                color: #ffffff;
                font-family: Judson, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .item-000016-u1K {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.1625;
                color: #ffffff;
                font-family: Judson, 'Source Sans Pro';
              }
            }
            .group-244-EJV {
              margin-bottom: 0.3rem;
              height: 5.6rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ellipse-124-NQh {
                width: 5.6rem;
                background-color: #d9d9d9;
                background-position: center;
                border-radius: 2.8rem;
                background-image: url('REPLACE_IMAGE:06906302867d63f26a373c441a8111ba86439e45');
                flex-shrink: 0;
                margin-right: 0.4rem;
                height: 5.6rem;
                background-size: 100% 100%;
                background-repeat: no-repeat;
              }
              .auto-group-5meh-t89 {
                height: calc(100% - 1.6rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0.8rem 0;

                .employee-id-000011-Rtm {
                  flex-shrink: 0;
                  margin-bottom: 0.2rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.1625;
                  color: rgba(255, 255, 255, 0.6600000262);
                  font-family: Judson, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .rathod-MnR {
                  font-weight: 700;
                  line-height: 1.1625;
                  color: rgba(255, 255, 255, 0.8299999833);
                  font-family: Judson, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                }
              }
            }
          }
          .line-155-5yK {
            margin-bottom: 1.2rem;
            width: 100%;
            height: 0.1rem;
            background-color: rgba(255, 255, 255, 0.2800000012);
            flex-shrink: 0;
          }
          .auto-group-ruvb-pg1 {
            margin-left: 0.1rem;
            width: calc(100% - 0.1rem);
            height: 15.7rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .group-243-kpZ {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 18.4rem;
              width: 14.2rem;
              height: 100%;

              .auto-group-lqbt-5bw {
                display: flex;
                align-items: flex-end;
                flex-shrink: 0;
                width: 100%;

                .group-239-1kV {
                  flex-shrink: 0;
                  margin-right: 0.8rem;
                  width: 4.6rem;
                  height: 4.6rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .auto-group-ckwd-9rh {
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  display: flex;

                  .distance-remaining-7Hj {
                    font-weight: 700;
                    line-height: 1.1625;
                    color: #ffffff;
                    font-family: Judson, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                  }
                  .km-eoT {
                    font-weight: 700;
                    line-height: 1.1625;
                    color: #ffffff;
                    font-family: Judson, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                  }
                }
              }
              .auto-group-1mgd-C4H {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-top: 0.5rem;

                .line-154-jpu {
                  height: 5.7rem;
                  background-color: #ffffff;
                  flex-shrink: 0;
                  margin: 0rem 0rem 0.5rem 2.3rem;
                  width: 0.2rem;
                }
                .auto-group-qvcu-fiZ {
                  margin-right: 2.1rem;
                  width: calc(100% - 2.1rem);
                  height: 4.4rem;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .group-242-bs7 {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 0.8rem;
                    width: 4.6rem;
                    height: 4.4rem;
                    position: relative;
                    object-fit: contain;
                  }
                  .auto-group-6fc5-wg5 {
                    margin: 1.4rem 0rem 0.6rem 0rem;
                    height: calc(100% - 2rem);
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .estimated-time-GTT {
                      flex-shrink: 0;
                      font-size: 1rem;
                      font-weight: 700;
                      line-height: 1.1625;
                      color: #ffffff;
                      font-family: Judson, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                    .hrs-D7o {
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1rem;
                      font-weight: 700;
                      line-height: 1.1625;
                      color: #ffffff;
                      font-family: Judson, 'Source Sans Pro';
                    }
                  }
                }
              }
            }
            .group-245-9n9 {
              margin-top: 1.7rem;
              font-weight: 700;
              display: flex;
              height: 2.7rem;
              font-size: 1.6rem;
              white-space: nowrap;
              flex-shrink: 0;
              width: 12.3rem;
              line-height: 1.1625;
              color: #3a6df0;
              font-family: Judson, 'Source Sans Pro';
              align-items: center;
              border-radius: 1rem;
              justify-content: center;
              background-color: #f7f8f9;
            }
          }
        }
      }
    }
  }
}
