
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.trip-details-Gph {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .rectangle-294-PPX {
    height: 63.5rem;
    top: 26.5rem;
    background-color: #fdfdfd;
    border-radius: 2rem;
    width: 102.9rem;
    position: absolute;
    left: 32.3rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.3300000131);
    box-sizing: border-box;
  }
  .rectangle-296-633 {
    height: 63.5rem;
    position: absolute;
    left: 32.3rem;
    box-sizing: border-box;
    background-color: #fdfdfd;
    width: 102.9rem;
    top: 26.5rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.2099999934);
    border-radius: 2rem;
  }
  .rectangle-282-Pnq {
    top: 0;
    background-color: #f7f7f7;
    width: 31.6rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
  }
  .group-170-1-k7b {
    position: absolute;
    left: 3.6rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 15.3rem;
    height: 4.6rem;
  }
  .group-229-UJV {
    top: 5.5rem;
    display: flex;
    align-items: center;
    width: 19.1rem;
    height: 4.3rem;
    position: absolute;
    left: 116.1rem;

    .group-219-QT3 {
      width: 3rem;
      height: calc(100% - 0.5rem);
      position: relative;
      flex-shrink: 0;
      margin: 0.2rem 4.7rem 0.3rem 0rem;

      .group-174-jER {
        vertical-align: top;
        width: 3rem;
        height: 3.6004rem;
        position: absolute;
        left: 0;
        top: 0.1996rem;
        object-fit: contain;
      }
      .ellipse-111-4nV {
        border-radius: 0.65rem;
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        left: 1.5rem;
        top: 0;
        background-color: #3a6df0;
      }
      .item-2-b1j {
        color: #ffffff;
        white-space: nowrap;
        position: absolute;
        font-size: 1rem;
        line-height: 1.25;
        top: 0;
        font-weight: 400;
        font-family: Jua, 'Source Sans Pro';
        width: 0.6rem;
        height: 1.3rem;
        left: 1.9rem;
      }
    }
    .group-194-Vcu {
      margin-right: 0.6rem;
      width: 4.7rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .ellipse-96-FMB {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 4.5rem;
        height: 4.3rem;
        position: absolute;
        left: 0.2rem;
      }
      .workaholism-and-working-overtime-PiH {
        left: 0;
        top: 0.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.7rem;
        height: 3.4rem;
        position: absolute;
      }
    }
    .auto-group-ksd7-W2D {
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.1rem 0rem 0.8rem 0rem;
      height: calc(100% - 1.9rem);
      align-items: center;
      display: flex;

      .david-spade-dMj {
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.15;
        color: #000000;
        font-family: Judson, 'Source Sans Pro';
        white-space: nowrap;
      }
      .warehouse-admin-NKK {
        flex-shrink: 0;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.15;
        color: rgba(0, 0, 0, 0.349999994);
        font-family: Judson, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .rectangle-225-u4M {
    width: 102.9rem;
    height: 10.7rem;
    position: absolute;
    left: 32.3rem;
    top: 13.5rem;
    background-color: #f0f0f0;
  }
  .ellipse-105-qTo {
    width: 12.8rem;
    height: 12.9198rem;
    position: absolute;
    left: 32.3001rem;
    top: 7rem;
    object-fit: contain;
    vertical-align: top;
  }
  .ellipse-106-aRP {
    top: 13.4598rem;
    object-fit: contain;
    vertical-align: top;
    width: 10.0757rem;
    height: 10.7758rem;
    position: absolute;
    left: 27.3rem;
  }
  .overview-of-current-trip-details-iGh {
    width: 45.4rem;
    height: 3.8rem;
    position: absolute;
    left: 45.2rem;
    line-height: 1.1625;
    font-family: Judson, 'Source Sans Pro';
    top: 17rem;
    font-size: 3.2rem;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
  }
  .rectangle-293-ccy {
    width: 102.9rem;
    height: 5rem;
    position: absolute;
    left: 32.3rem;
    top: 26.5rem;
    background-color: #1c463a;
    border-radius: 2rem 2rem 0 0;
  }
  .product-name-Xzq {
    line-height: 1.1625;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    width: 12.6rem;
    position: absolute;
    top: 28.3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7400000095);
    height: 2.4rem;
    left: 34.1rem;
    font-size: 2rem;
  }
  .product-id-3TP {
    font-weight: 700;
    white-space: nowrap;
    height: 2.4rem;
    position: absolute;
    left: 49.9rem;
    line-height: 1.1625;
    color: rgba(255, 255, 255, 0.7400000095);
    font-family: Judson, 'Source Sans Pro';
    width: 9.5rem;
    top: 28.3rem;
    font-size: 2rem;
  }
  .customer-name-AH7 {
    top: 28.3rem;
    font-size: 2rem;
    height: 2.4rem;
    left: 62.6rem;
    font-weight: 700;
    line-height: 1.1625;
    color: rgba(255, 255, 255, 0.7400000095);
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    width: 14rem;
    position: absolute;
  }
  .customer-id-shK {
    color: rgba(255, 255, 255, 0.7400000095);
    width: 10.9rem;
    position: absolute;
    left: 79.8rem;
    font-size: 2rem;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.4rem;
    top: 28.3rem;
    font-weight: 700;
    line-height: 1.1625;
  }
  .ordered-date-b7X {
    width: 11.8rem;
    position: absolute;
    top: 28.3rem;
    line-height: 1.1625;
    white-space: nowrap;
    height: 2.4rem;
    left: 93.9rem;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7400000095);
    font-family: Judson, 'Source Sans Pro';
  }
  .delivery-date-Vih {
    font-weight: 700;
    line-height: 1.1625;
    white-space: nowrap;
    width: 11.6rem;
    position: absolute;
    top: 28.3rem;
    font-size: 2rem;
    height: 2.4rem;
    left: 108.9rem;
    color: rgba(255, 255, 255, 0.7400000095);
    font-family: Judson, 'Source Sans Pro';
  }
  .location-D8u {
    width: 7.7rem;
    position: absolute;
    font-size: 2rem;
    line-height: 1.1625;
    color: rgba(255, 255, 255, 0.7400000095);
    white-space: nowrap;
    height: 2.4rem;
    left: 123.7rem;
    top: 28.3rem;
    font-weight: 700;
    font-family: Judson, 'Source Sans Pro';
  }
  .line-164-W81 {
    left: 32.3rem;
    top: 25.1rem;
    background-color: rgba(91, 197, 166, 0.7300000191);
    width: 102.9rem;
    height: 0.1rem;
    position: absolute;
  }
  .rectangle-295-2c9 {
    height: 4.3rem;
    position: absolute;
    left: 32.3rem;
    top: 35.6rem;
    background-color: rgba(91, 197, 166, 0.1899999976);
    width: 102.9rem;
  }
  .rectangle-297-ACZ {
    height: 4.3rem;
    position: absolute;
    left: 32.3rem;
    top: 44.3rem;
    background-color: rgba(91, 197, 166, 0.1899999976);
    width: 102.9rem;
  }
  .rectangle-298-VVj {
    top: 53rem;
    background-color: rgba(91, 197, 166, 0.1899999976);
    width: 102.9rem;
    height: 4.3rem;
    position: absolute;
    left: 32.3rem;
  }
  .rectangle-299-qJh {
    left: 32.3rem;
    top: 61.7rem;
    background-color: rgba(91, 197, 166, 0.1899999976);
    width: 102.9rem;
    height: 4.3rem;
    position: absolute;
  }
  .rectangle-300-Arm {
    width: 102.9rem;
    height: 4.3rem;
    position: absolute;
    left: 32.3rem;
    top: 70.4rem;
    background-color: rgba(91, 197, 166, 0.1899999976);
  }
  .rectangle-301-Jxy {
    left: 32.3rem;
    top: 79.1rem;
    background-color: rgba(91, 197, 166, 0.1899999976);
    width: 102.9rem;
    height: 4.3rem;
    position: absolute;
  }
  .frame-253-SpH {
    font-size: 1.8rem;
    top: 31.5rem;
    line-height: 1.1625;
    position: absolute;
    left: 125.3rem;
    white-space: nowrap;
    display: flex;
    width: 6.5rem;
    cursor: pointer;
    color: #3a6df0;
    font-family: Judson, 'Source Sans Pro';
    align-items: center;
    justify-content: center;
    height: 4.1rem;
    font-weight: 700;
  }
  .air-conditioner-j2h {
    width: 10.8rem;
    position: absolute;
    font-weight: 700;
    line-height: 1.1625;
    color: #000000;
    font-family: Judson, 'Source Sans Pro';
    height: 1.9rem;
    left: 35rem;
    top: 32.8rem;
    font-size: 1.6rem;
    white-space: nowrap;
  }
  .item-000012-Rw7 {
    left: 52.3rem;
    top: 32.8rem;
    line-height: 1.1625;
    color: #000000;
    font-family: Judson, 'Source Sans Pro';
    width: 4.8rem;
    height: 1.9rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 700;
    white-space: nowrap;
  }
  .xxxxxx-8qX {
    line-height: 1.1625;
    white-space: nowrap;
    height: 1.9rem;
    position: absolute;
    left: 66.8rem;
    top: 32.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    width: 5.2rem;
    color: #000000;
    font-family: Judson, 'Source Sans Pro';
  }
  .xxxxxx-4DP {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.1625;
    color: #000000;
    width: 5.2rem;
    height: 1.9rem;
    left: 82.5rem;
    top: 32.8rem;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
  }
  .item-03-10-23-yr9 {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000000;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.9rem;
    height: 1.9rem;
    left: 96.6rem;
    top: 32.8rem;
    line-height: 1.1625;
  }
  .item-08-10-23-6fs {
    font-weight: 700;
    line-height: 1.1625;
    color: #000000;
    white-space: nowrap;
    top: 32.8rem;
    height: 1.9rem;
    position: absolute;
    left: 112.1rem;
    font-size: 1.6rem;
    font-family: Judson, 'Source Sans Pro';
    width: 5.9rem;
  }
  .vector-DkV {
    position: absolute;
    left: 124.5rem;
    top: 32.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.1rem;
    height: 1.6rem;
  }
  .man-with-boxes-m1K {
    width: 18.3223rem;
    height: 18.7123rem;
    position: absolute;
    left: 97.7777rem;
    top: 7.4687rem;
    object-fit: contain;
    vertical-align: top;
  }
  .frame-265-6ZP {
    cursor: pointer;
    position: absolute;
    left: 0.9rem;
    top: 18.8rem;
    width: 24.4rem;
    height: 4.7rem;

    .rectangle-313-qG5 {
      background-color: rgba(217, 217, 217, 0.0399999991);
      height: 4.7rem;
      position: absolute;
      top: 0;
      border: solid 0.1rem #4ba68f;
      box-sizing: border-box;
      border-radius: 4rem;
      width: 24.3rem;
      left: 0;
    }
    .group-253-xLh {
      display: flex;
      align-items: center;
      width: 19.3681rem;
      height: 2.8rem;
      position: absolute;
      left: 2.2091rem;
      top: 1rem;

      .vector-H85 {
        margin-right: 0.5634rem;
        width: 3.0047rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .admin-dashboard-25f {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.275rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #4ba68f;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .group-266-Ls3 {
    width: 14.7rem;
    height: 3.6rem;
    position: absolute;
    left: 0.9rem;
    top: 67.9rem;

    .group-261-UiM {
      width: 10.8rem;
      height: 2.8rem;
      position: absolute;
      left: 2rem;
      top: 0.4rem;
      display: flex;
      align-items: center;

      .group-260-cpZ {
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 2.8rem;
      }
      .sign-out-kQy {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #4ba68f;
      }
    }
    .rectangle-315-fXw {
      height: 3.6rem;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.1rem #4ba68f;
      box-sizing: border-box;
      border-radius: 4rem;
      width: 14.7rem;
    }
  }
  .frame-266-nsT {
    width: 30.5rem;
    height: 4.7rem;
    border: solid 0.1rem #4ba68f;
    box-sizing: border-box;
    padding: 1rem 2.879rem 0.9rem 2.8rem;
    cursor: pointer;
    position: absolute;
    left: 0.9rem;
    top: 32rem;
    border-radius: 4rem;

    .group-256-hUd {
      height: 100%;
      display: flex;
      align-items: flex-end;
      width: 100%;

      .vector-rcR {
        margin-right: 0.302rem;
        width: 2.8185rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .emergency-appointment-Q89 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #359a80;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
      }
    }
  }
}
