
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.user-details-mjw {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .rectangle-294-Tsf {
    position: absolute;
    top: 26.5rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.3300000131);
    width: 102.9rem;
    height: 63.5rem;
    left: 32.3rem;
    box-sizing: border-box;
    background-color: #fdfdfd;
    border-radius: 2rem;
  }
  .rectangle-296-YeD {
    top: 26.5rem;
    box-sizing: border-box;
    background-color: #fdfdfd;
    width: 102.9rem;
    height: 63.5rem;
    position: absolute;
    left: 32.3rem;
    border: solid 0.1rem rgba(0, 0, 0, 0.2099999934);
    border-radius: 2rem;
  }
  .rectangle-282-4Mf {
    width: 31.6rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f7f7f7;
  }
  .group-170-1-Cim {
    object-fit: cover;
    vertical-align: top;
    width: 15.3rem;
    height: 4.6rem;
    position: absolute;
    left: 3.6rem;
    top: 5.1rem;
  }
  .group-229-8cR {
    align-items: center;
    width: 19.1rem;
    height: 4.3rem;
    position: absolute;
    left: 116.1rem;
    top: 5.5rem;
    display: flex;

    .group-219-roK {
      width: 3rem;
      height: calc(100% - 0.5rem);
      position: relative;
      flex-shrink: 0;
      margin: 0.2rem 4.7rem 0.3rem 0rem;

      .group-174-nS5 {
        width: 3rem;
        height: 3.6004rem;
        position: absolute;
        left: 0;
        top: 0.1996rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ellipse-111-KS1 {
        background-color: #3a6df0;
        border-radius: 0.65rem;
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        left: 1.5rem;
        top: 0;
      }
      .item-2-SmX {
        color: #ffffff;
        height: 1.3rem;
        position: absolute;
        left: 1.9rem;
        top: 0;
        line-height: 1.25;
        width: 0.6rem;
        font-size: 1rem;
        font-weight: 400;
        font-family: Jua, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-194-iU9 {
      margin-right: 0.6rem;
      width: 4.7rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .ellipse-96-dr1 {
        position: absolute;
        left: 0.2rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 4.5rem;
        height: 4.3rem;
      }
      .workaholism-and-working-overtime-LEd {
        width: 4.7rem;
        height: 3.4rem;
        position: absolute;
        left: 0;
        top: 0.3rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-kqbp-djX {
      margin: 1.1rem 0rem 0.8rem 0rem;
      height: calc(100% - 1.9rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .david-spade-Ybb {
        color: #000000;
        font-family: Judson, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.15;
      }
      .warehouse-admin-gSu {
        line-height: 1.15;
        color: rgba(0, 0, 0, 0.349999994);
        font-family: Judson, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 0.8rem;
        font-weight: 400;
      }
    }
  }
  .rectangle-225-bpm {
    width: 102.9rem;
    height: 10.7rem;
    position: absolute;
    left: 32.3rem;
    top: 13.5rem;
    background-color: #f0f0f0;
  }
  .ellipse-105-jvy {
    object-fit: contain;
    vertical-align: top;
    width: 12.8rem;
    height: 12.9198rem;
    position: absolute;
    left: 32.3001rem;
    top: 7rem;
  }
  .ellipse-106-fpd {
    top: 13.4598rem;
    object-fit: contain;
    vertical-align: top;
    width: 10.0756rem;
    height: 10.7758rem;
    position: absolute;
    left: 27.3rem;
  }
  .user-details-1Nh {
    top: 17rem;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    width: 16.2rem;
    height: 3.8rem;
    position: absolute;
    left: 45.2rem;
    line-height: 1.1625;
    color: #000000;
  }
  .rectangle-293-uiy {
    background-color: #1c463a;
    border-radius: 2rem 2rem 0 0;
    width: 102.9rem;
    height: 5rem;
    position: absolute;
    left: 32.3rem;
    top: 26.5rem;
  }
  .product-name-dus {
    width: 12.6rem;
    left: 34.1rem;
    top: 28.3rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1625;
    color: rgba(255, 255, 255, 0.7400000095);
    height: 2.4rem;
    position: absolute;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
  }
  .product-id-ji1 {
    left: 49.9rem;
    font-weight: 700;
    line-height: 1.1625;
    color: rgba(255, 255, 255, 0.7400000095);
    font-family: Judson, 'Source Sans Pro';
    width: 9.5rem;
    height: 2.4rem;
    position: absolute;
    top: 28.3rem;
    font-size: 2rem;
    white-space: nowrap;
  }
  .customer-name-SsK {
    font-size: 2rem;
    font-weight: 700;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.4rem;
    left: 62.6rem;
    top: 28.3rem;
    line-height: 1.1625;
    color: rgba(255, 255, 255, 0.7400000095);
    width: 14rem;
    position: absolute;
  }
  .customer-id-xam {
    width: 10.9rem;
    font-size: 2rem;
    font-weight: 700;
    white-space: nowrap;
    height: 2.4rem;
    position: absolute;
    left: 79.8rem;
    top: 28.3rem;
    line-height: 1.1625;
    color: rgba(255, 255, 255, 0.7400000095);
    font-family: Judson, 'Source Sans Pro';
  }
  .email-id-4th {
    height: 2.4rem;
    top: 28.3rem;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.5rem;
    position: absolute;
    left: 93.9rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1625;
    color: rgba(255, 255, 255, 0.7400000095);
  }
  .contact-address-NeV {
    width: 14.1rem;
    height: 2.4rem;
    font-size: 2rem;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 104.6rem;
    top: 28.3rem;
    font-weight: 700;
    line-height: 1.1625;
    color: rgba(255, 255, 255, 0.7400000095);
  }
  .alternate-no-HmT {
    position: absolute;
    left: 121.9rem;
    top: 28.3rem;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7400000095);
    white-space: nowrap;
    width: 11rem;
    font-weight: 700;
    line-height: 1.1625;
    font-family: Judson, 'Source Sans Pro';
    height: 2.4rem;
  }
  .line-164-Bbw {
    height: 0.1rem;
    position: absolute;
    left: 32.3rem;
    top: 25.1rem;
    background-color: rgba(91, 197, 166, 0.7300000191);
    width: 102.9rem;
  }
  .rectangle-295-5BX {
    background-color: rgba(91, 197, 166, 0.1899999976);
    width: 102.9rem;
    height: 4.3rem;
    position: absolute;
    left: 32.3rem;
    top: 35.6rem;
  }
  .rectangle-297-n5w {
    top: 44.3rem;
    background-color: rgba(91, 197, 166, 0.1899999976);
    width: 102.9rem;
    height: 4.3rem;
    position: absolute;
    left: 32.3rem;
  }
  .rectangle-298-K5s {
    left: 32.3rem;
    top: 53rem;
    background-color: rgba(91, 197, 166, 0.1899999976);
    width: 102.9rem;
    height: 4.3rem;
    position: absolute;
  }
  .rectangle-299-eP3 {
    left: 32.3rem;
    top: 61.7rem;
    background-color: rgba(91, 197, 166, 0.1899999976);
    width: 102.9rem;
    height: 4.3rem;
    position: absolute;
  }
  .rectangle-300-B85 {
    left: 32.3rem;
    top: 70.4rem;
    background-color: rgba(91, 197, 166, 0.1899999976);
    width: 102.9rem;
    height: 4.3rem;
    position: absolute;
  }
  .rectangle-301-JiV {
    position: absolute;
    left: 32.3rem;
    top: 79.1rem;
    background-color: rgba(91, 197, 166, 0.1899999976);
    width: 102.9rem;
    height: 4.3rem;
  }
  .air-conditioner-qiR {
    left: 35rem;
    color: #000000;
    width: 10.8rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.1625;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.9rem;
    top: 32.8rem;
  }
  .item-000012-xHF {
    width: 4.8rem;
    height: 1.9rem;
    position: absolute;
    left: 52.3rem;
    font-weight: 700;
    color: #000000;
    top: 32.8rem;
    font-size: 1.6rem;
    line-height: 1.1625;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
  }
  .xxxxxx-evm {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.1625;
    color: #000000;
    width: 5.2rem;
    position: absolute;
    top: 32.8rem;
    white-space: nowrap;
    height: 1.9rem;
    left: 66.8rem;
    font-family: Judson, 'Source Sans Pro';
  }
  .xxxxxx-yTF {
    width: 5.2rem;
    position: absolute;
    font-size: 1.6rem;
    color: #000000;
    font-family: Judson, 'Source Sans Pro';
    height: 1.9rem;
    left: 82.5rem;
    top: 32.8rem;
    font-weight: 700;
    line-height: 1.1625;
    white-space: nowrap;
  }
  .examplegmailcom-hPF {
    color: #000000;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    left: 92.2rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.1625;
    width: 11.6rem;
    height: 1.6rem;
    position: absolute;
    top: 33rem;
  }
  .xxxxxxxxxx-QHf {
    font-weight: 700;
    line-height: 1.1625;
    color: #000000;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    width: 8.6rem;
    height: 1.9rem;
    position: absolute;
    left: 106.8rem;
    top: 32.8rem;
    font-size: 1.6rem;
  }
  .xxxxxxxxxx-hnZ {
    font-size: 1.6rem;
    font-weight: 700;
    height: 1.9rem;
    position: absolute;
    left: 122.5rem;
    color: #000000;
    font-family: Judson, 'Source Sans Pro';
    white-space: nowrap;
    width: 8.6rem;
    top: 32.8rem;
    line-height: 1.1625;
  }
  .incoming-message-in-the-dialog-Dku {
    top: 15.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 37rem;
    height: 8rem;
    position: absolute;
    left: 98.2rem;
  }
  .frame-265-Y2V {
    width: 24.4rem;
    height: 4.7rem;
    cursor: pointer;
    position: absolute;
    left: 1.2rem;
    top: 18.9rem;

    .rectangle-313-4mX {
      width: 24.3rem;
      top: 0;
      box-sizing: border-box;
      background-color: rgba(217, 217, 217, 0.0399999991);
      border-radius: 4rem;
      height: 4.7rem;
      position: absolute;
      left: 0;
      border: solid 0.1rem #4ba68f;
    }
    .group-253-PJ1 {
      display: flex;
      align-items: center;
      width: 19.3681rem;
      height: 2.8rem;
      position: absolute;
      left: 2.2091rem;
      top: 1rem;

      .vector-7jo {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.5634rem;
        width: 3.0047rem;
        height: 2.8rem;
        object-fit: contain;
      }
      .admin-dashboard-4Q9 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.275rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #4ba68f;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .group-266-PBX {
    width: 14.7rem;
    height: 3.6rem;
    position: absolute;
    left: 1.2rem;
    top: 68rem;

    .group-261-7dK {
      height: 2.8rem;
      position: absolute;
      left: 2rem;
      top: 0.4rem;
      display: flex;
      align-items: center;
      width: 10.8rem;

      .group-260-edF {
        margin-right: 0.7rem;
        width: 2.8rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .sign-out-zSD {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #4ba68f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .rectangle-315-7Wq {
      border: solid 0.1rem #4ba68f;
      box-sizing: border-box;
      border-radius: 4rem;
      width: 14.7rem;
      height: 3.6rem;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .frame-266-SZ7 {
    box-sizing: border-box;
    padding: 1rem 2.879rem 0.9rem 2.8rem;
    cursor: pointer;
    left: 0.6rem;
    top: 31.6rem;
    border: solid 0.1rem #4ba68f;
    border-radius: 4rem;
    width: 30.5rem;
    height: 4.7rem;
    position: absolute;

    .group-256-LeV {
      height: 100%;
      display: flex;
      align-items: flex-end;
      width: 100%;

      .vector-VnH {
        margin-right: 0.302rem;
        width: 2.8185rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .emergency-appointment-Ejs {
        color: #359a80;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2125;
      }
    }
  }
}
