.appointment-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.appointment-appointment {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.appointment-rectangle282 {
  top: 0px;
  left: 0px;
  width: 353px;
  height: 1024px;
  position: absolute;
}
.appointment-group1701 {
  top: 51px;
  left: 49px;
  width: 153px;
  height: 46px;
  position: absolute;
}
.appointment-rectangle303 {
  top: 90px;
  left: 373px;
  width: 972px;
  height: 843px;
  position: absolute;
  border-radius: 8px;
}
.appointment-text {
  top: 125px;
  left: 647px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-rectangle307 {
  top: 491px;
  left: 507px;
  width: 722px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
.appointment-rectangle308 {
  top: 583px;
  left: 507px;
  width: 722px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
.appointment-rectangle309 {
  top: 675px;
  left: 507px;
  width: 722px;
  height: 48px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}
.appointment-text02 {
  top: 281px;
  left: 507px;
  color: rgba(0, 0, 0, 0.4099999964237213);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-text04 {
  top: 373px;
  left: 507px;
  color: rgba(0, 0, 0, 0.4099999964237213);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-text06 {
  top: 466px;
  left: 507px;
  color: rgba(0, 0, 0, 0.4099999964237213);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-text08 {
  top: 557px;
  left: 507px;
  color: rgba(0, 0, 0, 0.4099999964237213);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-text10 {
  top: 653px;
  left: 507px;
  color: rgba(0, 0, 0, 0.4099999964237213);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-rectangle310 {
  top: 781px;
  left: 507px;
  width: 167px;
  height: 41px;
  cursor: pointer;
  position: absolute;
  border-radius: 5px;
}
.appointment-text12 {
  top: 790px;
  left: 760px;
  color: rgb(22, 151, 102)
  height: auto;
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-ellipse125 {
  top: 298px;
  left: 270px;
  width: 205px;
  height: 205px;
  position: absolute;
}
.appointment-ellipse126 {
  top: -9.44140625px;
  left: 372px;
  width: 211px;
  height: 200px;
  position: absolute;
}
.appointment-frame282 {
  gap: 10px;
  top: 399px;
  left: 507px;
  width: 720px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.appointment-frame284 {
  gap: 523px;
  width: 721px;
  height: 47px;
  display: flex;
  padding: 15px 30px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.appointment-text14 {
  color: rgba(0, 0, 0, 0.42);
  width: 230px;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-vector {
  width: 20px;
  height: 10px;
}
.appointment-frame286 {
  gap: 5px;
  top: 314px;
  left: 508px;
  width: 721px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.appointment-frame2841 {
  gap: 523px;
  width: 721px;
  height: 47px;
  display: flex;
  padding: 15px 30px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.appointment-text15 {
  color: rgba(0, 0, 0, 0.42);
  width: 230px;
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-vector1 {
  width: 20px;
  height: 10px;
}
.appointment-frame265 {
  gap: 10px;
  top: 211px;
  left: 16px;
  width: 244px;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.appointment-rectangle313 {
  width: 243px;
  height: 47px;
  border-color: rgba(75, 166, 143, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
}
.appointment-group253 {
  top: 10px;
  left: 22.090534210205078px;
  width: 200px;
  height: 28px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.appointment-text16 {
  top: 4.375px;
  left: 35.6806640625px;
  color: rgba(75, 166, 143, 1);
  width: 164px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-vector2 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 28px;
  position: absolute;
}
.appointment-group266 {
  top: 772px;
  left: 16px;
  width: 147px;
  height: 36px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 0);
}
.appointment-group262 {
  top: 4px;
  left: 20px;
  width: 108px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.appointment-group261 {
  top: 0px;
  left: 0px;
  width: 108px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.appointment-text18 {
  top: 3px;
  left: 35px;
  color: rgba(75, 166, 143, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-group260 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.appointment-vector3 {
  top: 0px;
  left: -1px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.appointment-frame2651 {
  gap: 10px;
  top: 367px;
  left: 16px;
  width: 305px;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.appointment-rectangle302 {
  width: 305px;
  height: 47px;
  border-color: rgba(75, 166, 143, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
}
.appointment-group256 {
  top: 10px;
  left: 28px;
  width: 250px;
  height: 28px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.appointment-text20 {
  top: 5px;
  left: 31.205078125px;
  color: rgba(53, 154, 128, 1);
  width: 230px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.appointment-vector4 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
